{% if text %}
{% set label = text %}
{% else %}
{% set label = "" %}
{% endif %}

{% if float %}
<a href="{{url}}">
  <img class="md:float-right ml-4" srcset="{{url}} 1x, {{url}} 2x" src="{{url}}" alt="{{label}}" title="{{label}}" />
</a>
{% else %}
<div class="flex flex-col items-center">
  <a href="{{url}}">
    <img class="max-w-2xl mt-2" srcset="{{url}} 1x, {{url}} 2x" src="{{url}}" alt="{{label}}" title="{{label}}" />
  </a>

  {% if text %}
  <div class="my-2 px-4 text-xs">{{text}}</div>
  {% endif %}
</div>
{% endif %}
