/* Custom styles that are not possible to do in tailwind */

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700);

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: .95rem;
}

::selection {
  background: #ffe96c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffe96c; /* Gecko Browsers */
}

a:link {
    color:#4166b6;
    text-decoration: underline;
  }
a:visited {
  color:#9d57c5;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.back-arrow a {
  text-decoration: none;
}

.footer > a:link {
  color:white;
  text-decoration: underline;
}
.footer > a:visited {
color:white;
text-decoration: underline;
}

pre {
  font-size: 90%;
  /* background-color: #fafafa; */
  padding: 1rem;
  box-shadow: 1px 1px 3px #999;
  overflow-x: auto;
  /* margin: 1.5rem 0 */
}

pre > code {
  background-color: transparent;
  padding: 0;
}

code {
  font-size: 85%;
  color: #ccc;
}

/* markdown */

.markdown h1, h2 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown h3, h4 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown h1 {
  font-size: 200%;
}
.markdown h2 {
  font-size: 160%;
  text-decoration: underline;
}
.markdown h3 {
  font-size: 120%;
}
.markdown ol {
  list-style-type: decimal;
  margin-left: 1rem;
}
.markdown li {
  margin-left: 1rem;
  padding-left: 0.4rem;
}
.markdown ul li ul {
  list-style-type: circle;
}
.markdown hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.markdown blockquote {
  color:#2d3748;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color:#63b3ed;
  border-left-width: 0.15rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.15rem;
}
.markdown blockquote p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* bobby tables */

.markdown table {
  border: none;
  border-collapse: collapse;
  /* width: 100%;
  max-width: 100%; */
  white-space: nowrap;
  background-color: white;
  margin-bottom: 1.5em;
}
.markdown td, .markdown th {
  padding: 0.5em;
}
.markdown td {
  font-size: 90%;
}
.markdown thead th {
  text-align: left;
  border-bottom: 2px solid #324960;
}
.markdown tr:nth-child(even) {
  background: #F8F8F8;
}
