/* Custom styles that are not possible to do in tailwind */

html {
  background: linear-gradient(180deg, rgb(236, 237, 239) 0%, rgb(130, 135, 145) 100%);
  overscroll-behavior-y: none;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: .95rem;
}

::selection {
  background: #ffe96c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffe96c; /* Gecko Browsers */
}

a:link {
    color:#4166b6;
    text-decoration: underline;
  }
a:visited {
  color:#9d57c5;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.back-arrow a {
  text-decoration: none;
}

.footer > a:link {
  color:white;
  text-decoration: underline;
}
.footer > a:visited {
color:white;
text-decoration: underline;
}

.gradient-bg {
  background-color: rgb(236, 237, 239);
  background: linear-gradient(180deg, rgb(236, 237, 239) 0%, rgb(156 163 175) 100%);
}

/* main website header */

.slanted-header {
  transform: skew(0deg, -2deg) translate(-1rem, 0);
  text-decoration: none;
}

.slanted-header > a {
  transform: skew(0deg, -2deg) translate(-1rem, 0);
  color:rgb(17, 24, 39);
  text-decoration: none;
}

/* code blocks, but mitigating colouring of multiline code */

code {
  background-color: #fff398;
  color: #1f1f1f;
  padding: 0.1rem 0.2rem;
}

pre {
  font-size: 90%;
  /* background-color: #fafafa; */
  padding: 1rem;
  box-shadow: 1px 1px 3px #999;
  overflow-x: auto;
  /* margin: 1.5rem 0 */
}

pre > code {
  background-color: transparent;
  padding: 0;
}

/* zola specific footnote style */

.footnote-definition {
  display: flex;
  font-size: 90%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.footnote-definition p {
  margin: 0rem;
}

.footnote-definition-label {
  background: black;
  color: white;
  margin-right: 0.75rem;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  text-align: center;
}

.footnote-definition sup {
  top: 0;
  line-height: 1.5em;
  font-size: 0.85em;
}

/* markdown */

.markdown h1, h2 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown h3, h4 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.footnote-definition > p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.footnote-definition-label {
  margin-top: 0.2rem;
}
.markdown h1 {
  font-size: 200%;
}
.markdown h2 {
  font-size: 160%;
  text-decoration: underline;
}
.markdown h3 {
  font-size: 120%;
}
.markdown ul {
  list-style-type: disc;
  margin-left: 1rem;
}
.markdown ol {
  list-style-type: decimal;
  margin-left: 1rem;
}
.markdown li {
  margin-left: 1rem;
  padding-left: 0.4rem;
}
.markdown ul li ul {
  list-style-type: circle;
}
.markdown hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.markdown blockquote {
  color:#2d3748;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color:#63b3ed;
  border-left-width: 0.15rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.15rem;
}
.markdown blockquote p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* bobby tables */

.markdown table {
  border: none;
  border-collapse: collapse;
  /* width: 100%;
  max-width: 100%; */
  white-space: nowrap;
  background-color: white;
  margin-bottom: 1.5em;
}
.markdown td, .markdown th {
  padding: 0.5em;
}
.markdown td {
  font-size: 90%;
}
.markdown thead th {
  text-align: left;
  border-bottom: 2px solid #324960;
}
.markdown tr:nth-child(even) {
  background: #F8F8F8;
}
