.markdown h1, h2 {
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.markdown h3, h4 {
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}
.markdown p {
  margin-bottom: 1em;
  margin-top: 1em;
}
.markdown h1 {
  font-size: 200%;
}
.markdown h2 {
  font-size: 160%;
  text-decoration: underline;
}
.markdown h3 {
  font-size: 120%;
}
.markdown a:link {
  color:#4166b6;
  text-decoration: underline;
}
.markdown a:visited {
  color:#4166b6;
  text-decoration: underline;
}
.markdown a:hover {
  text-decoration: none;
}
.markdown ul {
  list-style-type: disc;
  margin-left: 1rem;
}
.markdown ol {
  list-style-type: decimal;
  margin-left: 1rem;
}
.markdown li {
  margin-left: 1rem;
  padding-left: 0.4rem;
}
.markdown ul li ul {
  list-style-type: circle;
}
.markdown hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.markdown blockquote {
  color:#2d3748;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color:#63b3ed;
  border-left-width: 0.15rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.15rem;
}
.markdown blockquote p {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.markdown code {
  color: #1f1f1f;
  background-color: #fff398;
  padding: 0.1rem 0.3rem;
}
