.markdown h1, h2 {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
}
.markdown h3, h4 {
  font-weight: 700;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.markdown p {
  margin-bottom: 1em;
}
.markdown h1 {
  font-size: 200%;
}
.markdown h2 {
  font-size: 160%;
}
.markdown h3 {
  font-size: 120%;
}
.markdown a:link {
  color:#4166b6;
  text-decoration: underline;
}
.markdown a:visited {
  color:#4166b6;
  text-decoration: underline;
}
.markdown a:hover {
  text-decoration: none;
}
.markdown ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}
.markdown ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
}
