<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href=data:, rel=icon>
  <link rel="stylesheet" href="/tailwind.min.css">
  <link rel="stylesheet" href="/markdown.css">
  <link rel="stylesheet" href="/style.css">
  <title>{% block title %}{{ config.title }} | {{ config.base_url }}{% endblock title %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134695331-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-134695331-3');
  </script>
</head>

<body class="text-gray-900">
  <div class="flex flex-col items-center min-h-screen">
    <div class="max-w-2xl w-full">
      <div class="slanted-header py-2 px-4 md:border border-b border-gray-400 ml-4 -mr-4 md:mx-0">
        <div class="font-bold text-4xl">
          <a class="ml-4" href="/">Juri Chomé</a>
        </div>
      </div>
      <div class="slanted-top border-gray-400 border-t md:border-l md:border-r -mb-6 pt-2"></div>

      <div class=" md:border-r md:border-b md:border-gray-400 mb-6">

        <div class="text-right font-medium pt-6 pr-6">
          <a class="underline hover:no-underline" href="/about">about</a>
          /
          <a class="underline hover:no-underline" href="/#projects">projects</a>
          /
          <a class="underline hover:no-underline" href="https://github.com/2mol">github</a>
          /
          <a class="underline hover:no-underline" href="https://twitter.com/jurichome">twitter</a>
        </div>

        <div class="md:border-l border-gray-400 -mt-2 pt-8 pb-4 md:pb-8 px-8 md:px-16">

          <div class="markdown">
            <!-- <h2 class="font-bold text-3xl">
              posts
            </h2>
            <table class="mb-6">
              {% set posts_section = get_section(path="posts/_index.md") %}
              {% for page in posts_section.pages | sort(attribute="date") | reverse %}
              {% if not page.draft %}
              <tr>
                <td class="text-right">{{ page.date | date(format="%d. %b %Y") }}</td>
                <td class="px-2">―</td>
                <td><a href="{{ page.permalink }}">{{ page.title }}</a></td>
              </tr>
              {% else %}
              {% endif %}
              {% endfor %}
            </table>

            <hr> -->

            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}

          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
