<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="personal site of Juri Chomé">
  <link href=data:, rel=icon>
  <link rel="stylesheet" href="/tailwind.min.css">
  <link rel="stylesheet" href="/markdown.css">
  <link rel="stylesheet" href="/style.css">
  <title>
    {% block title %}{{ config.title }} - {{ config.extra.base_url_simple }}{% endblock title %}
  </title>
</head>

<body class="text-gray-900 md:bg-gray-300">
  <div class="flex flex-col items-center min-h-screen">
    <div class="max-w-2xl w-full">
      <div class="slanted-header bg-white py-2 px-4 ml-4 -mr-4 md:mx-0 shadow-lg">
        <div class="text-4xl">
          <a class="ml-4" href="/">Juri Chomé</a>
        </div>
      </div>
      <div class="bg-white md:shadow-md mb-6 pt-4">
        <div class="text-right pr-6">
          <a class="underline hover:no-underline" href="/#projects">projects</a>
          ·
          <a class="underline hover:no-underline" href="/about">about</a>
          ·
          <a class="underline hover:no-underline" href="https://github.com/2mol" target="_blank"
            rel="noreferrer">github</a>
          ·
          <a class="underline hover:no-underline" href="https://twitter.com/jurichome" target="_blank"
            rel="noreferrer">twitter</a>
        </div>
        <div class="pt-10 pb-4 md:pb-12 px-4 md:px-12">
          <!-- <h2 class="font-bold text-3xl">
          posts
        </h2>
        <table class="mb-6">
          {% set posts_section = get_section(path="posts/_index.md") %}
          {% for page in posts_section.pages | sort(attribute="date") | reverse %}
          {% if not page.draft %}
          <tr>
            <td class="text-right">{{ page.date | date(format="%d. %b %Y") }}</td>
            <td class="px-2">―</td>
            <td><a href="{{ page.permalink }}">{{ page.title }}</a></td>
          </tr>
          {% else %}
          {% endif %}
          {% endfor %}
        </table>

        <hr> -->
          {% block bla %}
          <!-- <div class="markdown">
            <p>
              Hi, I'm Juri. I like to make things, so here are some of them. Currently I enjoy <a
                href="https://d-one.ai" target="_blank" rel="noreferrer">working with data</a>, <a href="/#woodworking">woodworking</a>, and making webapps.
            </p>
            <p>
              You can contact me on <a href="https://twitter.com/jurichome">twitter</a>, or by sending an email to <a
                href="mailto:juri@juricho.me">juri@juricho.me</a>.
            </p>
            <h2>posts</h2>
            {% include "posts-list.html" %}
          </div> -->
          {% endblock bla %}

          <div class="markdown">
            {% block markdown_content %}
            {{ section.content | safe }}
            {% endblock markdown_content %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script data-goatcounter="https://juri.goatcounter.com/count" async src="//gc.zgo.at/count.js">
  </script>
</body>

</html>
