<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0" />
  <title>
    {% block title %}Juri Chomé{% endblock test %}
  </title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/tailwind.min.css" />
  <link rel="stylesheet" href="/markdown.css" />

</head>

<body class="text-gray-900 bg-white">
  <div class="flex flex-col items-center min-h-screen">
    <div class="bg-white max-w-2xl w-full flex-1">
      <div class="py-2 px-4 bg-white md:border border-b border-gray-400 ml-4 -mr-4 md:mx-0" style="transform: skew(0deg, -3deg) translate(-1rem, 0); margin-bottom: -1px;">
        <div class="font-bold text-4xl">
          <a class="ml-4" href="/">Juri Chomé</a>
        </div>
      </div>
      <div class="border-gray-400 border-t md:border-l md:border-r -mb-6 pt-2" style="transform: skew(0deg, -3deg); margin-top: 2px;"></div>

      <div class=" md:border-r md:border-b md:border-gray-400">

        <div class="text-right font-medium pt-6 pr-6 ">
          <a class ="underline" href="#">about</a>
          /
          <a class ="underline" href="#">projects</a>
          /
          <a class ="underline" href="https://github.com/2mol">github</a>
          /
          <a class ="underline" href="https://twitter.com/jurichome">twitter</a>
        </div>

        <div class="md:border-l border-gray-400 -mt-2 pt-8 md:pb-12 px-8 md:px-16">
          <div class="markdown">
            {% block content %}
            {{ section.content | safe }}
            {% endblock content %}
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

</html>
