<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href=data:, rel=icon>
  <link rel="stylesheet" href="/tailwind.css">
  <link rel="stylesheet" href="/main.css">
  <title>
    {% block title %}{{ page.title }} - {{ config.extra.base_url_simple }}{% endblock title %}
  </title>
</head>

<body class="text-gray-900 text-sm md:bg-gray-200">
  <div class="back-arrow font-bold mx-1"><a href="/">←</a></div>
  <div class="flex flex-col items-center min-h-screen">
    <div class="w-full" style="transform: skew(0deg, -2deg)">
      <div class="font-bold text-4xl text-center py-2 {% if page.extra.headerstyle %}{{ page.extra.headerstyle }}{% endif %}">
        {{ page.title }}
      </div>
    </div>
    {% if page.date %}
    <div
      class="text-xs text-right max-w-2xl w-full px-2 mt-1 -mb-2"
      style="transform: skew(0deg, -2deg)">
      published {{ page.date }}
      — <a href="{{ config.extra.github_edit_url ~ page.relative_path }}">suggest an edit to this post</a>
    </div>
    {% else %}
    {% endif %}
    <div class="max-w-2xl w-full">
      <div class="bg-white md:border md:border-gray-300 pt-12 px-4 md:px-12 pb-4 md:pb-12 -mt-6 mb-8">
        <div class="markdown">
          {% if page.extra.toc %}
          {% include "table-of-contents.html" %}
          {% endif %}

          {% block content %}
          {{ page.content | safe }}
          {% endblock content %}
        </div>
      </div>
    </div>
    <div class="min-h-screen border-l border-gray-300"></div>
    <div class="my-4 text-xs">
      hi there, well done with the scrolling! nothing more to see here. the blank space is so that jumping to footnotes doesn't suck.
    </div>
  </div>
  <script data-goatcounter="https://juri.goatcounter.com/count" async src="//gc.zgo.at/count.js">
  </script>
  <noscript>
    <img src="https://juri.goatcounter.com/count?p=/test-img"></img>
  </noscript>
</body>

</html>
