<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href=data:, rel=icon>
  <link rel="stylesheet" href="/tailwind.min.css">
  <link rel="stylesheet" href="/markdown.css">
  <link rel="stylesheet" href="/style.css">
  <title>{% block title %}{{ page.title }} - juricho.me{% endblock title %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134695331-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-134695331-3');
  </script>
</head>

<body class="text-gray-900 text-sm md:bg-gray-200">
  <a href="/">←</a>
  <div class="flex flex-col items-center min-h-screen">
    <div class="w-full {% if page.extra.headerstyle %}{{ page.extra.headerstyle }}{% endif %}"
      style="transform: skew(0deg, -2deg)">
      <div class="font-bold text-4xl text-center">
        {{ page.title }}
      </div>
    </div>
    <div class="max-w-2xl w-full">
      <div class="bg-white md:border md:border-gray-400 pt-12 px-4 md:px-12 pb-4 md:pb-12 -mt-6 mb-8">
        <div class="markdown">
          {% if page.extra.toc %}
          {% include "table-of-contents.html" %}
          {% endif %}

          {% block content %}
          {{ page.content | safe }}
          {% endblock content %}
        </div>
      </div>
    </div>
    <!-- <div class="rounded-full border-2 border-gray-300 p-1"></div> -->
    <div class="min-h-screen border-l border-r border-gray-300"></div>
    <!-- <div class="rounded-full border-2 border-gray-300 p-1"></div> -->
    <div class="my-4 text-xs text-gray-500">
      ~ the end ~
    </div>
  </div>

</body>

</html>
