{% extends "index.html" %}

{% block title %}
{{ section.title }} - juricho.me
{% endblock title %}

{% block bla %}
<table class="mb-6">
  {% set posts_section = get_section(path="posts/_index.md") %}
  {% for page in posts_section.pages | sort(attribute="date") | reverse %}
  <tr>
    <td class="text-right">{{ page.date | date(format="%d. %b %Y") }}</td>
    <td class="px-2">―</td>
    <td class="underline text-blue-600 hover:text-blue-400">
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock bla %}
