/* some custom styles that are not possible to do in tailwind
*/

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700);

body {
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: .95rem;
}

::selection {
  background: #ffe96c; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffe96c; /* Gecko Browsers */
}

.slanted-header {
  transform: skew(0deg, -2deg) translate(-1rem, 0);
}

.slanted-top {
  transform: skew(0deg, -2deg);
  margin-top: 2px;
}

/* zola specific footnote style */
.footnote-definition {
  display: flex;
  font-size: 90%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.footnote-definition p {
  margin: 0rem;
}

.footnote-definition-label {
  background: black;
  color: white;
  margin-right: 0.75rem;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  text-align: center;
}

.footnote-definition sup {
  top: 0;
  line-height: 1.5em;
  font-size: 0.85em;
}
